.DS_Store
Thumbs.db
.vscode
.idea
.vagrant
.env
.version
vagrant.yaml
deployer.phar
deploy.php
app/vendor/
data/*
data-protected/*
spa/node_modules/
app/frontend/web/node_modules/
app/frontend/web/node_modules/
app/frontend/web/uploads/
app/backend/web/uploads/
app/frontend/web/data/
app/backend/web/data/
app/frontend/web/data-protected/
app/backend/web/data-protected/
app/frontend/web/media/
app/backend/web/media/
node_modules/
/nbproject
/*.sql
test.json
test.xml
/spa/dist/
